extends layout

block content
  h1 This is Contact Page
  p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum recusandae repudiandae quam tenetur nesciunt, distinctio pariatur cum debitis rem sunt, nam aliquam illo? Cumque qui saepe tempora quaerat id. Eveniet.

